/* General styles */
/* ==================================== */
:root {
    font-size: 16px;
    --main-theme-color: #EE6201;  
    /* --heading-font-family: 'Fira Sans', sans-serif; */
    /* font-family: 'Roboto', sans-serif;
/* font-family: 'Dosis', sans-serif; */
}

body{
    padding-top:70px;
    background: url(../images/bkg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    position: relative; 
}

.container-fluid{
    margin: -2rem 0;
    padding: 0;
}

.sectionHeader{
    font-family: 'Fira Sans', sans-serif; 
}

#home {padding:60px 0;height:812px;color: #fff; background:rgba(12, 12, 12, 0.568);}
#about{padding:60px 0;height:auto;color:black; background: #e4e4e4;}
#section3 {padding:60px 0;height:auto;color: #ffffff; background:transparent;}
#projects {padding:60px 0;height:auto;color:black; background:#ffffff;}
#contact {padding:60px 0;height:auto;color:black; background:#eceeed;}

/* ===================================== 
/* navbar styles */
/* ===================================== */

.bg-dark {
    background-color: #1b1a0d;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: .5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: all 0.4s ease;
}

.navbar-brand{
    font-size: 2rem;
    text-transform: uppercase;
}

.fixed-top{
    transition: all 0.7s ease;
    padding-top: 3rem;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: var(--main-theme-color);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.myNavbar .fa{
    padding-right:0.4rem;
}

.logo{
    background: #EE6201;
    padding: 0.5rem;
    border-radius:50px; 
    border: 1px solid #ffffff;
    font-style: italic;
}

#section4{
    border-bottom: 0.0019rem solid var(--main-theme-color); 
    -webkit-box-shadow: 0px 7px 12px 0px var(--main-theme-color); 
    box-shadow: 0px 7px 12px 0px rgba(0,0,0,0.36); 
}
.content{
    margin-top: 20px;
}

/* ==================================== */
/* Home - section 1 */
/* ==================================== */
.title{
    border-bottom: 0.5rem solid var(--main-theme-color); 
    padding-bottom: 0.2rem;
    letter-spacing: 0.3rem;
}

.nameContent{
    padding-top: 140px;
}

.nameContent .btn:hover{
    font-size: 3.6rem;
    background: transparent;
    color: var(--main-theme-color);
    margin-top: 2rem;
}

.name{
    font-size:300%;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-animation: mySpacing 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mySpacing 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mySpacing {
    50% {letter-spacing: 6px;}
}

@keyframes mySpacing {
    50% {letter-spacing: 6px;}
}

.nameContent .btn{
    font-size: 3.5rem;
    background: transparent;
    color: #ffffff;
    margin-top: 0.5rem;
    transition: all 0.7s ease;
    font-weight: bolder;
    -webkit-animation: mymove 0.5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 0.5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {margin-top: 50px;}
}

/* Standard syntax */
@keyframes mymove {
    50% {margin-top: 50px;}
}

/* ==================================== */
/* About - section 2 */
/* ==================================== */

.profileImage{
    transition: 1s ease-in;
    transition: 1s ease-out;
}

.profileImage:hover{
    transform: scale(1.03);  
}

td{
    padding: 0.5rem;
}

table .fa{
    font-size: 2rem;
}

.contactType{
    text-transform: uppercase;
    font-weight: bold;
}

.fa-skype{
    color:#139eec;
}

.fa-linkedin-square{
    color:#0c62a6;
}


.fa-envelope-o{
    color:#c9352f;
}

p{
    border-left:1.5rem solid var(--main-theme-color);
    padding: 1rem;
    line-height: 1.6;
    color: #797676;
    font-size: 1.08rem;
    margin-bottom: 1.5rem;
    font-family: 'Roboto', sans-serif;
    background: #f1f0f0;
}

/* ==================================== */
/* Skills - section 3 */
/* ==================================== */

.skillsGroup{
    margin:20px;
    border-left:10px solid var(--main-theme-color);
}

.skill{
    padding-left:10px;
    font-size: 20px;
    text-transform: uppercase;
}

/*======================================*/
/* project  section 4*/
/*======================================*/
.project{
    position: relative;
    display: inline-block;
    margin:13px 0;
}

.project:hover{
    -webkit-box-shadow: 0px 7px 12px 0px rgba(0,0,0,0.53); 
    box-shadow: 0px 7px 12px 0px rgba(0,0,0,0.53);
}

.portfolio-description {
   position: absolute;
   transition: all 0.4s ease;
   opacity: 0;
   background: rgba(8, 8, 8, 0.788) none repeat scroll 0 0;
   bottom:0;
   z-index: 1;
   width: 100%;
   height: 100%;
}

.projectTitle{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
    transition: all 0.7s ease;
}

.projectTitle a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 	1.125rem;
}

.projectName a:hover{
    color:var(--main-theme-color);
    transition: all 0.7s ease;
}

.fa-search-plus, .fa-code{
    font-size: 1.5rem;
    text-align: center;
    margin:0.5rem;
    background:var(--main-theme-color);
    border-radius: 100%;
    padding: 0.5rem;
    z-index: 2;;
}

.project:hover .portfolio-description{
    opacity: 1;   
}

.item-thumbnail .img-fluid:hover {
    transform: scale(1.1);  
}

.projectsHeader{
    margin-bottom: 100px;
}

/*======================================*/
/* Contact  section 5*/
/*======================================*/
input{
    margin-bottom: 10px;
}

.contactheader{
    margin-bottom: 100px;
}

.contact{
    margin-bottom: 150px;
}

.btn-lg{
    background:var(--main-theme-color);
    color: #ffffff;
}

.feedbackMessage{
    padding:1rem;
    margin:1rem;
    background: #faf7f7;
    border-radius: 2px;
}

.errorMessage{
    color: red;
}

.successMessage{
    color: rgb(123, 124, 123);
}

.modalButton{
    margin:1rem;
}

.modal-content{
    background: #f8f9fad6
}

.modalbody .btn{
background: var(--main-theme-color);
border:none;
color:#faf7f7;
}